html {
  font-size: 62.5%;
  width: 100%;
}

body {
  font-size: 2rem;
  color: #264E60;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  height: 120px;
  align-items: center;
  margin: 0 auto;
  font-size: 1.4rem;

  &__imageWrap {
    max-width: 106px;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }
}

.section__wrapper {
  max-width: 960px;
  margin: 200px auto 0;
}

.section__title {
  display: inline;
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 8px;

  position: relative; 
  border-bottom: 4px solid #BCCE18;

  &::before {
    content: "";
    position: absolute;
    bottom: -4px; 
    // borderの幅分だけずらす
    left: 0px;
    width: 30%;
    height: 4px; 
    background-color: #FFA933;
  }
}

.section__subTitle {
  text-align: center;
}

.button {
    display: inline-block;
    margin-top: 45px;
    padding: 12px 30px;
    color: #F3F3F3;
    background-color: #FFA933;
    border: #FFA933;
    border-radius: 40px;
}

.main {
  
  &__imageWrap {
    max-width: 960px;
    text-align: center;
    margin: 0 auto 40px;
  }

  &__button {
    border: solid 1px #FFA933;
    border-radius: 40px;
    padding: 12px 38px;
    color: #fff;
    background-color: #FFA933;
  }
}

.backgroundImage1 {
  background-image: url(../images/images/frameSmall.png);
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: cover; 
  height: 100vh;
}

.sectionA {
  display: flex;
  width: 100%;
  text-align: center;
  padding-top: 120px;

  &__imageWrap {
    width: 520px;
  }

  &__description {
    width: 500px;
    line-height: 3.2rem;
    margin-top: 16px;
    text-align: left;
  }

  &__imageList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
  }

  &__image {
    width: 136px;

    img {
      border-radius: 40px;
    }
  }

  .mama1 {
    margin-top: 80px;
  }

  .mama2 {
    margin-top: 40px;
  }

  .mama4 {
    margin-top: 40px;
  }

  .mama6 {
    margin-top: -40px;
  }
}

.sectionB {

  &__imageWrap {
    max-width: 960px;
  }

  &__notes {
    font-size: 1.6rem;
    color: #606060;
    margin-top: 24px;
  }

  &__sapn {
    color: #FFA933;
  }
}

.sectionC {

  &__skill {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }

  &__wrapper {
    border: solid 2px #80C9C6;
    border-radius: 10px;
  }

  &__imageWrap {
    width: 300px;
  }

  &__description {
    font-size: 1.6rem;
    margin: 16px auto 16px;
    line-height: 2.6rem;
    width: 236px;
    text-align: left;
  }

  &__button {
    display: inline-block;
    font-size: 1.8rem;
    padding-bottom: 26px;
    color: #FFA933;
  }
}

.sectionD {

  &__description {
    line-height: 3.2rem;
    margin-top: 40px;
    text-align: left;
    margin-bottom: 30px;
  }

  &__pointWrap {
    width: 706px;
    margin: 0 auto;
  }

  &__point {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
  }

  &__imageWrap {
    width: 345px;
  }

  .point1 {
    position: relative;
  }

  .imageWrap1 {
    position: absolute;
    top: 20px;
    right: 360px;
  } 

  .point2 {
    position: relative;
    justify-content: flex-start;
  }

  .imageWrap2 {
    position: absolute;
    top: 20px;
    left: 360px;
  } 

  .point3 {
    position: relative;
  }

  .imageWrap3 {
    position: absolute;
    top: 20px;
    right: 360px;
  } 

  &__image {
    border-radius: 40px;
  }

  &__textWrap {
    width: 420px;
    padding: 36px 66px;
    border: solid 2px #80C9C6;
    border-radius: 40px;
    background-color: #F3F3F3;
  }

  &__subTitle {
    width: 288px;
    line-height: 32px;
  }

  &__description2 {
    width: 288px;
    font-size: 1.6rem;
    line-height: 2.6rem;
    text-align: left;
    margin-top: 8px;
  }
}

.sectionE {
  margin: 140px auto 0;

  &__title {
    font-size: 3.2rem;
    line-height: 3.6rem;
    width: 606px;
    margin: 0 auto;
  }

  &__imageWrap {
    width: 760px;
    margin: 32px auto 0;
  }

  &__notes {
    font-size: 1.6rem;
    color: #606060;
    margin-top: 32px;
  }
}

.sectionF {

  &__description {
    margin: 28px 0 32px;
  }

  &__imageWrap {
    gap: 24px;
  }
}

.sectionG {
  padding-bottom: 300px;

  &__news {
    margin-top: 40px;
  }

  &__newsList {
    margin-bottom: 22px;
  }
  .newsList1 {
    position: relative;
  }

  .subtitle1 {
    position: absolute;
    top: 45px;
    left: 20px;
    z-index: -2;
  }

  .newsDetail1 {
    position: absolute;
    top: 135px;
    left: 0;
    z-index: 2;
    
  }

  .newsList2 {
    position: relative;
  }

  .subtitle2 {
    position: absolute;
    top: 75px;
    left: 20px;
    z-index: -2;
  }

  .newsDetail2 {
    position: absolute;
    top: 195px;
    left: 0;
    z-index: 2;
  }

  .newsList3 {
    position: relative;
  }

  .subtitle3 {
    position: absolute;
    top: 105px;
    left: 20px;
    z-index: -2;
  }

  .newsDetail3 {
    position: absolute;
    top: 195px;
    left: 0;
    z-index: 2;
  }

  .newsList4 {
    position: relative;
  }

  .subtitle4 {
    position: absolute;
    top: 75px;
    left: 20px;
    z-index: -2;
  }

  .newsDetail4 {
    position: absolute;
    top: 135px;
    left: 0;
    z-index: 2;
  }

  &__subTitle {
    width: 920px;
    padding: 27px 60px;
    margin: 0 auto;
    text-align: left;
    border: solid 1px #F3F3F3;
    border-radius: 40px;
    background-color: #F3F3F3;
  }

  &__newsDate {
    margin-top: 22px;
  }

  .newsDate1, .newsDate2, .newsDate3 {
    display: inline-block;
    margin-right: 652px;
    margin-bottom: 44px;
    padding: 6px 24px;
    border: solid 1px #80C9C6;
    border-radius: 16px;
    background-color: #80C9C6;
  }

  .newsDate2 {
    margin-top: 54px;
  }

  .newsDate3 {
    margin-top: 84px;
  }

  .newsDate4 {
    display: inline-block;
    margin-right: 628px;
    margin-bottom: 44px; 
    margin-top: 54px;
    padding: 6px 24px;
    border: solid 1px #80C9C6;
    border-radius: 16px;
    background-color: #80C9C6;  
  }

  &__newsDetail {
    width: 124px;
    height: 44px;
    line-height: 20px;
    margin-left: 838px;
    padding: 12px 30px;
    border: solid 1px #BCCE18;
    border-radius: 16px;
    background-color: #BCCE18; 
  }

}

.backgroundImage2 {
  background-color: #E7F1ED;
}

.section__bg--top {
  background-image: url(../images/images/frame_top.png);
  background-repeat: no-repeat; 
  background-position: center bottom; 
  background-size: auto; 
}

.sectionH {
  text-align: center;
  

  &__wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  &__imageWrap {
    width: 330px;
    margin-top: 16px;
  }

  &__wrap {
    max-width: 424px;
    margin-top: 53px;
  }

  &__subTitle {
    text-align: left;
    font-size: 2.4rem;
  }

  &__sapn {
    font-size: 2.8rem;
    font-weight: bold;
  }

  &__description {
    margin-top: 40px;
    line-height: 32px;
    text-align: left;
  }

  &__wrapper {
    margin-bottom: 100px;
  }

  &__Wrapper {
    margin-bottom: 140px;
  }
}

.sectionH1 {

  &__wrapperLeft {
    width: 492px;
  }

  &__skillList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 24px;
  }

  &__skill {
    width: 236px;
    height: 60px;
    padding: 0 auto;
    font-size: 3.2rem;
    line-height: 60px;
    color: #fff;
    background-color: #80C9C6;
    border: solid 1px #80C9C6;
    border-radius: 20px;
  }

  &__lead {
    line-height: 3.2rem;
    margin-top: 20px;
    text-align: left;
  }

  &__notes {
    width: 416px;
    font-size: 1.2rem;
    font-weight: 1.9rem;
    color: #606060;
    margin-top: 8px;
    text-align: left;
  }

  &__imageWrap {
    width: 386px;
  }

  &__description {
    font-size: 1.4rem;
    margin-top: 10px;
  }
}

.sectionH2 {
  
  &____titleWrap {
    width: 490px;
  }

  &__lead {
    font-size: 2.4rem;
    line-height: 3.8rem;
    text-align: left;
    margin-top: 24px;
  }

  &__description {
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin-top: 16px;
    text-align: left;
  }

  &__list {
    width: 490px;
    margin-top: 16px;
  }

  &__notes {
    font-size: 1.2rem;
    line-height: 1.9rem;
    text-align: left;
  }

  &__imageWrap {
    width: 386px;
  }
}

.sectionH3 {

  &__titleWrap {
    width: 960px;
    display: block;
    margin:0 auto;
    padding-left: 32px;
  }
 
  &__listWrap {
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin: 24px auto 0;
    text-align: center;
  }

  &__imageWrap {
    width: 160px;
  }

  .teachaer2 , .teachaer4 , .teachaer6 {
    margin-top: 80px;
  }

  &__description {
    font-size: 1.6rem;
    color: #fff;
  }

  &__notes {
    font-size: 1.2rem;
    color: #fff;
  }

  &__nameWrap1 {
    width: 144px;
    border: solid 1px #80C9C6;
    border-radius: 10px;
    background-color: #80C9C6;

    position: relative; 
    display: inline-block; 

    &:after {
      content: "▶︎";
      position: absolute;
      right: 8px; 
      top: 50%;
      transform: translateY(-50%); 
      font-size: 16px; 
      color: #fff; 
}
  }

  &__nameWrap2 {
    width: 144px;
    border: solid 1px #BCCE18;
    border-radius: 10px;
    background-color: #BCCE18;

    position: relative; 
    display: inline-block; 

    &:after {
      content: "▶︎";
      position: absolute;
      right: 8px; 
      top: 50%;
      transform: translateY(-50%); 
      font-size: 16px; 
      color: #fff; 
    }
  }

  .nameWrap1 {
    padding: 6px 10px 6px 0;
    position: absolute;
    top: 141px;
    left: 8px;
  }

  .nameWrap2 {
    padding: 6px 16px 6px 0;
    position: absolute;
    top: 220px;
    left: 8px;
  }

  .nameWrap3 {
    padding: 6px 14px 6px 0;
    position: absolute;
    top: 141px;
    left: 8px;
  }

  .nameWrap4 {
    padding: 14px 18px 14px 0;
    position: absolute;
    top: 220px;
    left: 8px;
  }

  .nameWrap5 {
    padding: 6px 8px 6px 0;
    position: absolute;
    top: 141px;
    left: 8px;
  }

  .nameWrap6 {
    padding: 6px 16px 6px 0;
    position: absolute;
    top: 220px;
    left: 8px;
  }

  .list1 , .list2 , .list3 , .list4 , .list5 , .list6 {
    position: relative;
  }
}

.sectionH4 {
  padding-bottom: 100px;

  &__container {
    display: flex;
    justify-content: space-between;
    width: 896px;
    margin: 0 auto;
  }

  &__wrapper {
    display: flex;
  }

  &__titleWrap {
    width: 960px;
    display: block;
    margin:0 auto;
    padding-left: 32px;
  }

  &__listWrap {
    width: 485px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0 12px;
    margin-top: 40px;
  }

  &__list {
    width: 236px;
  }

  &__imageWrap {
    width: 71px;
  }

  &__leadWrap {
    display: flex;
    justify-content: space-between;
  }

  &__lead {
    font-size: 1.4rem;
    line-height: 2rem;
    margin: auto;
  }

  &__description {
    font-size: 1.2rem;
    line-height: 1.9rem;
    text-align: left;
    margin-top: 6px;
  }

  &__notes {
    font-size: 1rem;
    line-height: 1.4rem;
    margin-top: 10px;
    color: #606060;
    text-align: left;
  }

  &__imageWrap2 {
    width: 354px;
  }

  &__notes2 {
    font-size: 1.2rem;
    line-height: 1.9rem;
    text-align: left;
    width: 347px;
    margin-top: 10px;
    color: #606060;
  }
}

.section__bg--bottom {
  background-image: url(../images/images/frame_bottom.png);
  background-repeat: no-repeat; 
  background-position: center top; 
  background-size: auto;
}

.sectionI {
  padding-top: 300px;

  &__imageWrap {
    width: 760px;
    margin: 40px auto 0;
  }

  &__notes {
    font-size: 1.6rem;
    color: #606060;
  }

  .notes1 {
    margin-top: 40px;
  }

  .notes2 {
    margin-top: 10px;
  }
}

.sectionJ {
  
  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 874px;
    margin: 40px auto 0;
  }

  &__wrapperLeft {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__subTitle {
    font-size: 2.4rem;
  }

  .subTitle1 {
    margin: 0 auto 54px;
  }

  &__imageWrap {
    width: 100px;
  }

  &__list {
    display: flex;
    margin-bottom: 18px;
  }

  &__list2 {
    display: flex;
    margin-bottom: 8px;
  }

  &__lead {
    font-size: 1.4rem;
    text-align: left;
  }

  &__description {
    font-size: 1.2rem;
    line-height: 1.9rem;
    width: 318px;
    text-align: left;
    margin-top: 10px;
  }

  &__wrapperRight {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .subTitle2 {
    width: 379px;
    margin: 0 auto 30px;
  }

  .subTitle3 {
    margin-top: 80px;
    margin-left: 90px;
    text-align: left;
  }

  .slider {
    margin-inline: auto;
    max-width: 960px;
    width: 80%;
    margin-top: 32px;
  }

  .slider-img {
    margin: 0 10px;
  }
  
  .slider-img img {
    height: auto;
    width: 100%;
  }
  
}

.sectionK {
  
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__leadWrap {
    display: flex;
    text-align: left;
    margin: 40px auto 80px; 
  }

  &__imageWrap {
    width: 200px;
    display: flex;
  }

  &__lead {
    margin-top: 42px;
    line-height: 32px;
  }

  &__description {
    width: 192px;
    margin-top: 10px;
    font-size: 1.6rem;
    line-height: 2.5rem;
  }

  &__button {
    font-size: 1.4rem;
    color: #FFA933;
    margin-top: 8px;
    display: block;
    text-align: center;

    &--line {
      display: block;
      width: 660px;
      margin: 40px auto 0;
    }
  }

  .button2 {
    margin-top: 33px;
  }
}

.sectionL {
  width: 700px;

  &__wrapper {
    margin-top: 40px;
  }

  &__subTitle {
    padding: 27px 60px;
    border: solid 1px #F3F3F3;
    border-radius: 40px;
    background-color: #F3F3F3;
    text-align: left;
  }

  .faq {

    &-list-item {
      margin: 10px;
      position: relative;
      cursor: pointer;
      text-align: left;

      span {
        position:absolute;
        top: 16px;
        right:60px;
        color: #80C9C6;
        font-size: 3rem;
      }
    }

    &-list-item h3 {
      font-size: 1.8rem;
    }

    .answer {
      width: 580px;
      text-align: left;
      font-size: 1.4rem;
      line-height: 2.2rem;
      margin: 10px auto;
      padding: 5px 0px;
      display: none;
    }
  }
}

.sectionM {

  &__description1 {
    font-size: 2rem;
    line-height: 3.2rem;
    margin-top: 40px;
    text-align: left;
  }

  &__wrapper {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
  }

  &__wrapperLeft {
    width: 417px;
    text-align: left;
  }
    
  &__subTitle {
    font-size: 2.4rem;
    text-align: left;
  }

  .textWrap2 {
    margin-top: 48px;
  }

  &__lead1 {
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-top: 20px;
  }

  &__description2 {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-top: 10px;
  }

  &__wrapperRight {
    margin-top: 20px;
  }

  &__repportWrap {
    display: flex;
    width: 479px;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__imageWrap {
    width: 70px;
  }

  &__textWrap2 {
    margin-left: 16px;
  }
    
  &__time {
    display: block;
    font-size: 1.6rem;
    text-align: left;
    margin-top: 12px;
    
  } 

  .time3 {
    margin-top: 0;
  }

  &__lead2 { 
    font-size: 1.6rem;
    line-height: 2.5rem;
    text-align: left;
    margin-top: 16px;
  }

  &__description3 {
    font-size: 1.6rem;
    line-height: 2.5rem;
    text-align: left;
  }
}

.sectionN {

  &__wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  &__imageWrap {
    width: 265px;
    margin-top: 15px;
  }

  &__description {
    font-size: 2rem;
    line-height: 3.2rem;
    text-align: left;
    margin-top: 50px;
    width: 527px;
  }

  &__button {
    display: inline-block;
    margin-top: 16px;
    color: #FFA933;
  }
}

.sectionO {
  width: 932px;

  &__wrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  &__imageWrap1 {
    width: 500px;
  }

  &__textWrap {
    width: 432px;
    text-align: left;
    margin-top: 60px;
  }

  &__subTitle1 {
    font-size: 2.4rem;
  }

  &__description {
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin-top: 25px;
  }

  &__subTitle2 {
    font-size: 2.4rem;
    font-weight: bold;
    text-align: left;
    margin: 100px 0 0 5px;
  }

  &__listWrap {
    display: flex;
    justify-content: space-between;
  }

  &__imageWrap2 {
    width: 120px;
    margin-top: 24px;
  }

  &__lead {
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 10px;
  }

  &__price {
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 8px;
  }

  &__imageWrap3 {
    width: 760px;
    margin: 180px auto 0;
  }
}

.backgroundImage3 {
  background-image: url("../images/images/frameFooter.png");
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: cover; 
  height: 400px;
}

.footer {
  width: 960px;
  text-align: center;
  margin: 0 auto;
  padding-top: 230px;

  &__listWrap {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  &__list {
    margin-bottom: 66px;
    color: #fff;
  }

  &__copyright {
    font-size: 1.6rem;
    margin-bottom: 40px;
    color: #fff;
  }

  &__sapn {
    color: #264E60;
  }
}
